<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div>
        <form action="" id="officeForm">
        <h1>Office Form</h1>
        {% csrf_token %}
        {{officeForm.as_p}}
        <input type="submit" value="Save Office">
    </form>
        <hr><hr>
        <form action="javascript:void(0)" id="employeeForm">
            {% csrf_token %}
        <h1>EmployeeForm</h1>
        {{employeeForm.as_p}}
        <input type="submit" value="Save Employee">
    </form>
    </div>
    
</body>
</html>
<script>
    $(document).ready(()=>{
        alert("welcome")
    })
    onOfficeFormSubmit=(event)=>{
        event.preventDefault()
        officeFormValues = $(event.target).serializeArray()
        console.log(officeFormValues)
        body = {}
        officeFormValues.forEach(element => {
            // console.log(element)
            body[element.name] = element.value
        });
        console.log(body)
        // alert("Office Form Submission"
        $.ajax({
            method:"POST",
            url: "office/",
            data:body
        })
        .done((response)=>{
            console.log(response)
            event.target.reset()
            alert("Successfully Submitted :)")
        })
        .fail((response)=>{
            console.log(response)
        })
    }
    onEmployeeFormSubmission=(event)=>{
        {% comment %} alert("Employee Form Submission") {% endcomment %}
        event.preventDefault()
        employeeForm = $(event.target).serializeArray()
        body = {}
        employeeForm.forEach(element=>{
            body[element.name] = element.value
        })
        $.ajax({
            method:"POST",
            url:"emp/",
            data:body
        })
        .done((response)=>{
            console.log(response)
            event.target.reset()
            alert("Employee Form Submitted")
        })
        .fail((response)=>{
            console.log(response)
        })
    }
    $("#officeForm").submit(
        onOfficeFormSubmit
    )
    $("#employeeForm").submit(
        onEmployeeFormSubmission
    )
</script>

