<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div>
        <form action="" id="officeForm">
        <h1>Office Form</h1>
        {% csrf_token %}
        {{officeForm.as_p}}
        <input type="submit" value="Save Office">
    </form>
    <div class="">
        <table>
            <thead>
            <tr>
                <th> Name </th>
                <th> Location </th>
            </tr>
            <thead>
            <tbody id="officeTableId"> 
            </tbody>
        </table>  
    </div>++
        <hr><hr>
        <form action="javascript:void(0)" id="employeeForm">
            {% csrf_token %}
        <h1>EmployeeForm</h1>
        {{employeeForm.as_p}}
        <input type="submit" value="Save Employee">
    </form>
    <div class="">
        <table>
            <thead>
                <tr>
                    <th>FirstName </th>
                    <th>LastName </th>
                    <th>Email </th>
                    <th>Gender </th>
                    <th>Office </th>
                <tr>
            </thead>
            <tbody id="employeeTableId">
            </tbody>
        </table>
    </div>
    
</body>
</html>
<script>
    var officeList = []
    var empList = []
    getAllOffices=()=>{
        console.log("getting data from server.. ")
        $.ajax({
            method:"GET",
            url:"offices/"
        })
        .done(response=>{
            const offices = JSON.parse(response)
            officeList = offices
            renderOfficeTable()
            getAllEmployees()
        })
        .fail(response=>{
            console.log(response)
        })
    }
    getAllEmployees=()=>{
        console.log("Getting data from employees")
        $.ajax({
            method:"GET",
            url:"emps/"
        })
        .done(response=>{
          let employees = JSON.parse(response)
          {% comment %} empList = employees {% endcomment %}
          {% comment %} tempList =  {% endcomment %}
          employees.forEach(e=>{
            empList.push(e.fields)
          })
          renderEmployeeTable()
        })
    }
    $(document).ready(
        getAllOffices
    )
    renderEmployeeTable=()=>{
        {% comment %} console.log(empList) {% endcomment %}
        const tableBody = document.getElementById("employeeTableId")
        empList.forEach(e=>{
            const row = tableBody.insertRow()
            const fullName = document.createElement("TD")
            const lastName = document.createElement("TD")
            const email = document.createElement("TD")
            const gender = document.createElement("TD")
            const office = document.createElement("TD")
            fullName.innerHTML = e.first_name
            lastName.innerHTML = e.last_name
            email.innerHTML = e.email
            gender.innerHTML = e.gender
            office.innerHTML = e.office
            row.appendChild(fullName)
            row.appendChild(lastName)
            row.appendChild(email)
            row.appendChild(gender)
            row.appendChild(office)
        })
    }
    renderOfficeTable=()=>{
        alert("HEllo")
        console.log("In render table",officeList) 
        const tableBody = document.getElementById("officeTableId")
        officeList.forEach(element=>{
            element = element.fields
            const row = tableBody.insertRow()
            const name = document.createElement("TD")
            name.innerHTML = element.name
            const location = document.createElement("TD")
            location.innerHTML = element.location
            row.appendChild(name)
            row.appendChild(location)
        })
         
    }    
    onOfficeFormSubmit=(event)=>{
        event.preventDefault()
        officeFormValues = $(event.target).serializeArray()
        console.log(officeFormValues)
        body = {}
        officeFormValues.forEach(element => {
            // console.log(element)
            body[element.name] = element.value
        });
        console.log(body)
        // alert("Office Form Submission"
        $.ajax({
            method:"POST",
            url: "office/",
            data:body
        })
        .done((response)=>{
            console.log(response)
            event.target.reset()
            alert("Successfully Submitted :)")
        })
        .fail((response)=>{
            console.log(response)
        })
    }
    onEmployeeFormSubmission=(event)=>{
        event.preventDefault()
        employeeForm = $(event.target).serializeArray()
        body = {}
        employeeForm.forEach(element=>{
            body[element.name] = element.value
        })
        $.ajax({
            method:"POST",
            url:"emp/",
            data:body
        })
        .done((response)=>{
            console.log(response)
            event.target.reset()
            alert("Employee Form Submitted")
        })
        .fail((response)=>{
            console.log(response)
        })
    }
    $("#officeForm").submit(
        onOfficeFormSubmit
    )
    $("#employeeForm").submit(
        onEmployeeFormSubmission
    )
</script>

